<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/514d9df4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contact List
    </h1>
    <div class="contact-list-container">
        <ul>
            <% for(let i of contact_list){ %>
                <li class= "contact">
                    <div class="details">
                        <p><%= i.name %></p>          
                        <p><%= i.phone %></p> 
                    </div> 
                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i.__id %>">
                            <i class="fas fa-window-close delete-icon"></i>
                        </a>
                    </div>                                                          
                </li> 

                <% } %>
        </ul>
    </div>

    <div class="submit-form">
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="enter name">
            <input type="number" name="phone" placeholder="enter phone">
    
            <button type="submit">Add Contact</button>
    
        </form>
    </div>
    <script type="text/javascript" src=/js/home.js></script>
</body>

</html>